nav a {
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    margin: 0 5px;
    border: 1px solid white;
    border-radius: 30px;
}

.header {
    padding: 20px;
    justify-items: center;
    text-align: center;
    background-color: #00682d;
    color: #fff;
    border-bottom: 10px solid rgb(255, 255, 255);
}

.cabecalho-esquerda-imagem {
    height: 120px;
    margin-left: 30px;
}

.cabecalho-esquerda {
    display: flex;
    align-items: center;
}

footer {
    background-color: #020202;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
}

nav a:hover {
    background-color: white;
    color: #053d00;
}

.titulo-principal {
    text-align: center;
}
.formulariop {
    text-align: center;
}
fieldset{
    border: 5px solid black; 
}
.centralizado{
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.outrafonte {
    font-weight: bold;
}

.imagem-carrossel {
    height: 600px;
    width: 250px;
}